/* Esse arquivo é onde vai o estilo que estará presente em todas as páginas do projeto.
Assim, fica mais fácil de organizar e reutilizar códigos */

@font-face {
    font-family: "PFont";
    src: url("assets/Ubuntu-Regular.ttf");
}

:root {
    --main-color: #E07614;
    --main-hover-color: #572c04;
    --background-color: #202020;
    --div-color: #373737;
    --nav-color: #0F0F0F;
    --navbar-hover-color: #a0a0a0;
    --button-border: 16px;
    --ui-border: 24px;
}

* {
    color: white;
    margin: 0;
    font-optical-sizing: auto;
    font-family: "PFont", serif;
    transition: 10ms;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: var(--background-color);
}

div.main {
    background-color: var(--div-color);
    border-radius: var(--ui-border);
    margin: 5vh auto;
    width: 92.5vw;
}

button {
    background-color: var(--main-color);
    border-radius: var(--button-border);
    border: none;
    cursor: pointer;
    padding: 8px;
}

button:hover {
    transform: scale(1.05);
}

a button {
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
}

.active {
    background-color: var(--main-color);
    font-weight: bold;
}

.tabActive {
    background-color: var(--nav-color);
    font-weight: bold;
}

footer {
    background-color: var(--nav-color);
    padding: 2.5%;
    margin-top: auto;
}

input {
    padding: 5px 10px;
    border-radius: var(--button-border);
    border: 2px solid black;
    color: black;
}

.footerInline {
    display: flex;
    padding: 0;
    justify-content: end;
}

.footerDiv {
    margin-right: 2.5%;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: var(--button-border);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--main-hover-color);
}

.tRight {
    float: right;
    width: 50%;
}

.tLeft {
    float: left;
    width: 50%;
}

.center {
    margin: auto;
}

.start {
    float: left;
    font-weight: bold;
    font-size: larger;
    width: 256px;
    height: 64px;
    padding: 16px;
}

.send {
    width: 100%;
    margin-top: 5px;
}

.input {
    width: 100%;
}

.topLeftBorder {
    border-top-left-radius: var(--ui-border);
}

.gameStart {
    padding: 16px;
    width: 15vw;
}