/* Estilização do menu de catálogo */

.main {
    padding: 2.5%;
    height: auto;
    overflow-x: auto;
}

.inline {
    display: flex;
    justify-content: space-around;
    padding: 0;
    width: auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: var(--button-border);
    margin-top: 2.5%;
    margin-right: 50px;
}

.card a {
    text-decoration: none;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    opacity: 50%;
}

.container {
    padding: 16px;
    background-color: var(--nav-color);
    border-radius: 0 0 var(--button-border) var(--button-border);
    height: 25%;
    word-wrap: normal;
}

.temp {
    border-radius: var(--button-border) var(--button-border) 0 0;
    background-color: white;
    width: 256px;
    height: 256px;
}