/* Esse é o estilo da página inicial */
.main {
    height: 85vh;
}

.side {
    width: 50%;
    height: 85vh;
    float: right;
}

a.side {
    color: white;
    padding: var(--ui-border);
    text-decoration: none;
}

.content {
    padding: 2.5%;
    float: left;
    width: 50%;
}

button.start {
    width: auto;
    height: 64px;
    margin-top: 10%;
    margin-bottom: 2.5%;
    width: 50%;
}

.start:hover {
    background: var(--main-hover-color);
}

h1.title {
    margin-top: 15%;
}

div.mainImage {
    margin: auto;
    position: relative;
    top: 10%;
    width: 70%;
    height: 70%;
    border-radius: var(--ui-border);
}

img {
    width: 100%;
    border-radius: var(--ui-border);
}