.main {
    padding: 2.5%;
    height: auto;
    overflow: auto;
    margin: 0;

}

table {
    border-collapse: collapse;
    width: 100%;
}

/* box-sizing: border-box; */

th,
td {
    text-align: left;
    padding: 16px;
}

th.topRightBorder {
    border-top-right-radius: var(--ui-border);
}

th.topLeftBorder {
    border-top-left-radius: var(--ui-border);
}

td.bottomRightBorder {
    border-bottom-right-radius: var(--ui-border);
    padding: 16px;
}

.color {
    background: var(--nav-color);
}

td.bottomLeftBorder {
    border-bottom-left-radius: var(--ui-border);
    padding: 16px;
}

th {
    background: var(--nav-color);
}

tr {
    background-color: rgb(48, 48, 48);
}

tr:nth-child(even) {
    background-color: var(--background-color);
}

tr:hover {
    background-color: var(--main-hover-color);
}

h2 {
    margin-bottom: 2.5%;
}

.tabs {
    margin: 0;
}

.tab{
    background: none;
}

.tab-link {
    padding: 12px 48px;
    cursor: pointer;
    border-radius: var(--ui-border) var(--ui-border) 0 0;
}


.tab-content {
    margin: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}