/* Estilo do menu lateral */

.sidepanel {
    width: 0;
    position: fixed;
    height: 100vh;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-y: auto;
    transition: 0.5s;
    padding-top: 60px;
}

.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidepanel a:hover {
    background: var(--main-color);
    color: white;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    padding: 10px;
    margin: auto;
    right: 25px;
    font-size: 36px;
}

.sidepanel .closebtn:hover {
    background: none;
    color: var(--main-color);
}

.openbtn {
    font-weight: bold;
}