/* Reseta estilos padrão do navegador */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
}

#game_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tetris {
    display: none;
    border-radius: 10px;
    /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* Sombra do canvas */
    background-color: #000;
    /* Fundo preto para o canvas */
}

button {
    background-color: var(--main-color);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: var(--main-hover-color);
    transform: scale(1.05);
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#score {
    font-size: 24px;
    margin: 10px;
    display: none;
}

#game_over {
    font-size: 36px;
    color: #FF5733;
    margin: 20px;
    font-weight: bold;
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    background-color: var(--nav-color);
    border-radius: var(--ui-border);
    margin: auto;
    padding: 0;
    width: 40%;
    animation-duration: 0.4s
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: var(--main-color);
    border-radius: var(--ui-border) var(--ui-border) 0 0;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    color: white;
}

.inline {
    display: flex;
}